/* 使用 Poppins 字体，字体更加圆润 */
.mllm, .vlp_vad, .gnn_rs {
  font-family: 'Poppins', sans-serif; /* 使用 Poppins 字体 */
  font-size: 30px; /* 字体大小 */
  font-weight: 600; /* 字体加粗 */
  color: #000; /* 默认字体颜色 */
  display: inline-block;
  margin-bottom: 10px;
  transition: all 0.3s ease; /* 添加平滑过渡效果 */
}

/* 鼠标悬停时文字轻微放大 */
.mllm:hover, .vlp_vad:hover, .gnn_rs:hover {
  transform: scale(1.1); /* 鼠标悬停时放大字体 */
}
